/* Sandpack full height fix */
.sp-layout,
.sp-layout > .sp-stack,
.sp-layout > .sp-stack > .sp-editor,
.sp-layout > .sp-stack > .sp-preview {
  height: 100% !important;
  min-height: 0 !important;
}
.sp-layout {
  min-height: 0 !important;
} 